# Visual Studio build files
*.obj
*.pdb
*.exe
*.ilk
*.aps
*.bak
*.user
*.suo
*.vcxproj.user
*.7z
*.log
*.json
*.dll
/python/request.py

# Python cache
__pycache__/
*.pyc

# VS build folders
/.vs/
/data/
/x64/
/Debug/
/Release/
/export/
/Wutherin.6d0d4311/
/python/export/
/python/request/

# Your backup folder (if you make one)
/backup/
